@using Kulala.EF.Model;
@using PagedList;
@using PagedList.Mvc;
@using Kulala.Learning.Common.Extension;
@model StaticPagedList<User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@using PagedList.Mvc;
    @using PagedList;
    @model StaticPagedList<JDCommodity>*@

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Third"))
{
<p>
    Find by Condition:
    @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control", @Style = "display:inline" })
    @Html.Submit("查询")
    @Html.ActionLink("CreateUser", "Create")
</p>
    <div id="partialajaxlist">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>名字</th>
                <th>@Html.ActionLink("电话", "Index", new { orderBy = ViewBag.OrderBy, searchString = ViewBag.SearchString, page = 1 })</th>
                <th>地址</th>
                <th>Email</th>
                <th>QQ</th>
            </tr>
            @*前后混编，前后分离 MVVM vue *@
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @*@item.Id*@
                @Html.DisplayFor(modelItem => item.Id)@*//强类型 可以展示display*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QQ)
            </td>
            <td>
                <a href="/Third/Details/@item.Id">Details</a>|
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                <a id="@item.Id" href="javascript:void(0);" onclick="ajaxDelete(this)">ajaxDelete</a>
            </td>
            @*<td>
            <img src="@item.ImageUrl" />
        </td>*@
        </tr>
            }
        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @*@Html.PagedListPager(Model, pageIndex => Url.Action("Index",
            new { pageIndex, searchString = ViewBag.SearchString,lastOrderBy = ViewBag.OrderBy}))*@
        @Html.PagedListPager(Model, pageIndex => $"/Third/Index?pageIndex={pageIndex}&searchString={base.ViewBag.SearchString}")
    </div>
}

@section scripts{
    @*这里写的js才是出现在js框架加载后的*@
    <script type="text/javascript">
        $(document).ready(function () {
            //重新ajax请求 加载两次

            var listData = '@ViewBag.ListData';//单引号的bug需要在后端转码

        })

        function ajaxDelete(obj) {
            $.ajax({
                type: "POST",
                url: '/Third/AjaxDelete',
                data: { id: obj.id },
                datatype: "text",
                success: function (data) {
                    if (data.Result == 1) {
                        alert("删除成功" + obj.id + " 需要手动刷新界面");
                    }
                    else if (data.Result == 2) {
                        alert("登陆超时,请重新登陆");
                        location.href = "/home/login";
                    }
                    else {
                        alert(data.PromptMsg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    </script>
}

